.page-name-wrapper {
    padding: 10px 0px;
    font-size: 28px;
    font-weight: bold;
}

.content-wrapper {
    margin: 40px 0px;
}

.content-title {
    font-size: 20px;
}

.content-title-desc {
    font-size: 18px;
}

.content-table-wrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.content-desc {
    font-size: 12px;
}

.content-desc-title {
    font-size: 15px;
    margin-left: 15px;
    font-style: italic;
}